<header class="dark" ng-cloak>
    <div class="nav-container cbp-spmenu-left" id="ver-menu">
        <div class="inner">
            <a ng-href="#" class="logo">
                <img ng-src="{{::nav.app.logo}}"/>
            </a>

            <ul class="main-menu">
                <li class="multi-level-menu" ng-repeat="navigation in nav.app.links">
                    <a ui-sref="{{::navigation.link}}"><i class="fa {{::navigation.icon}}"></i>{{::navigation.text}}</a>
                    <ul class="sub-menu" ng-if="navigation.subs">
                        <li ng-repeat="sub in navigation.subs">
                            <a ui-sref="{{::sub.link}}"><i class="fa {{::sub.icon}}"></i>{{::sub.text}}</a>
                        </li>
                    </ul>
                </li>
            </ul>

            <div class="push-area">
                <button id="showPushMenu"><i class="fa fa-bars"></i> </button>
            </div>


            <div id="mobile-menu" class="dl-menuwrapper">
                <button class="dl-trigger"><i class="fa fa-bars"></i></button>
                <ul class="dl-menu">
                    <li ng-repeat="navigation in nav.app.links">
                        <a ui-sref="{{::navigation.link}}">{{::navigation.text}}</a>
                        <ul class="dl-submenu" ng-if="navigation.subs">
                            <li ng-repeat="sub in navigation.subs">
                                <a ui-sref="{{::sub.link}}">{{::sub.text}}</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <script src="../../assets/js/show-menu.js"></script>
</header>