<section class="one-section about-intro full-screen" xmlns:>
    <div class="full-bg-position hero-bg background-stretch" data-stellar-background-ratio=".3"><span class="mask-color" style="background-color:#000;"></span></div>
    <div class="container">
        <div class="intro middle-content">
            <p class="name">{{::about.app.texts.about.top_heading}}</p>
            <ul id="fade" >
                <li ng-repeat="points in about.app.texts.about.top_sentence"><span>{{points.bullet}}</span></li>
            </ul>

        </div>
        <p class="scroll-down">
            <span>Scroll down</span>
            <i class="fa fa-arrow-circle-down"></i>
        </p>
    </div><!--end:container-->
</section><!--end:im-hennry-->
<section class="about-info">
    <div class="container">
        <div>
            <h3>{{::about.app.texts.about.info_about.birthdate}}</h3> {{::about.app.texts.about.info_about.birthdate_value}}
        </div>

        <div>
            <h3>{{::about.app.texts.about.info_about.works_as}}</h3> {{::about.app.texts.about.info_about.works_as_value}}
        </div>

        <div>
            <h3>{{::about.app.texts.about.info_about.phone_number}}</h3> {{::about.app.texts.about.info_about.phone_number_value}}
        </div>

        <div>
            <h3>{{::about.app.texts.about.info_about.email}}</h3> <a href="mailto:{{::about.app.texts.about.info_about.email_value}}"> {{::about.app.texts.about.info_about.email_value}}</a>
        </div>

    </div><!--end:container-->
</section>
<section class="about-more">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="text-heading large-head left bold">
                    <h1>{{::about.app.texts.about.about_me.my_history_title}}</h1>
                </div>
                <div ng-repeat="paragraphs in about.app.texts.about.about_me.my_history_text">
                    <p>{{::paragraphs.paragraph}}</p>
                </div>
            </div><!--end:col-->

            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="text-heading large-head left bold">
                    <h1>{{::about.app.texts.about.about_me.skills_title}}</h1>
                </div>
                <div class="mini-progress left-info" ng-repeat="skills in about.app.texts.about.about_me.skills">
                    <p class="name">{{::skills.name}}</p>
                    <div class="progress">
                        <div class="progress-bar progress-blue skill-{{$index}}" aria-valuetransitiongoal="{{::skills.rank}}"> <span class="value">{{::skills.rank}}%</span> </div>
                    </div>
                </div><!--end:mini-progress-->
            </div><!--end:col-->
        </div><!--end:row-->
    </div><!--end:container-->
</section>
<section class="about-me-statics">
    <div class="container">
        <div class="row">
            <div class="text-heading large-head center bold">
                <h1>{{::about.app.texts.about.about_me.statics_title}}</h1>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" ng-repeat="statics in about.app.texts.about.about_me.statics">
                <div class="counter-wrap circle" data-scroll-reveal="enter bottom over .3s and move 150px">
                    <i class="fa {{::statics.icon}} "></i>
                    <div class="info">
                        <span class="counter"> {{::statics.number}} </span>
                        <span class="value">{{::statics.text}}</span>
                    </div><!--end:info-->
                </div>
            </div><!--end:col-->
        </div><!--end:row-->
    </div><!--end:container-->


</section>
<section >
    <div class="text-heading large-head center bold"> <h1>{{::about.app.texts.about.about_me.history_title}}</h1>  </div>
    <ul class="timeline">
        <!-- Item 1 -->npm start

        <li ng-repeat="timeline in about.app.texts.about.about_me.history ">
            <div class="{{::timeline.position}}" >
                <div class="flag-wrapper">
                    <span class="flag">{{::timeline.title}}</span>
                    <span class="time-wrapper"><span class="time">{{::timeline.time}}</span></span>
                </div>
                <div class="desc">{{::timeline.description}}</div>
            </div>
        </li>
    </ul>
</section>


<section class="action-box ab-flat">
    <center><button type="button" class="btn btn-large btn-blue btn-icon btn-radius"> <i class="fa fa-cloud-download"></i> Download my cv</button></center>
</section>