@import "../../../../node_modules/ng-dialog/css/ngDialog.min.css";
@import "../../../../node_modules/ng-dialog/css/ngDialog-theme-default.min.css";
@import "../../../../node_modules/ng-dialog/css/ngDialog-custom-width.css";
@import "../../../../node_modules/ng-dialog/css/ngDialog-theme-plain.min.css";

.home-4 {
    background: #1a191d;
    .main-container {
        background: #1a191d;
    }
    .h4-portfolio {
        position: relative;
        padding-left: 180px;
    }
    .port-filter {
        width: 180px;
        position: absolute;
        top: 0;
        left: 0;
        box-sizing: border-box;
        padding: 20px;
        nav#filters {
            a {
                width: 100%;
                display: block;
                padding: 10px 15px;
                font-weight: 400;
                text-align: left;
                border: none;
                border-radius: 0;
            }
        }
        nav {
            a {
                &:hover {
                    box-shadow: none;
                    background: rgba(255, 255, 255,.1);
                }
            }
            a.checked {
                box-shadow: none;
                background: rgba(255, 255, 255,.1);
            }
        }
        .avatar {
            width: 80px;
            height: 80px;
            margin: 20px auto;
            border-radius: 50%;
            overflow: hidden;
            border: 5px solid rgba(255, 255, 255,.1);
        }
    }
}
